@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  user-select: none;
}

body {
  margin: 0;
  font-family: "Creepster", system-ui;
}

#menu {
  width: 100vw;
  height: 100vh;
  background: url("./img/bg.jpg");
  color: red;
  display: block;
}

#listMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  font-size: 30px;
}

p {
  transition: transform 1s;
}

p:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.5);
}

.title {
  transition: transform 1s;
}

.title:hover {
  transform: scale(1.5);
}

/* CSS Level */
#level {
  display: none;
  background-color: #3b3a3a;
}
#titleLevel {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: red;
  z-index: -223;
  text-align: center;
}

h3 {
  z-index: 4;
}

#rintangan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3a3a;
}

#dangerBox {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: red;
  z-index: 3;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
}

#dangerBox:hover {
  background-color: #cb0000;
  transform: scale(0.9);
}

/* Credit */
#credits {
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 200px;
}

#credits span {
  color: red;
}

#credits h3 {
  font-size: 80px;
}

.toMenu {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

a {
  text-decoration: none;
}

/* Box */
.box {
  width: 150px;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.box:hover {
  border: 2px solid white;
}

.boxCount {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: center;
  padding-bottom: 60px;
}

/* ghost */
.ghost1 {
  width: 100px;
  position: absolute;
  top: 30px;
  z-index: 1;
  animation: gerak 10s infinite alternate;
  cursor: pointer;
}

@keyframes gerak {
  from {
    transform: translateX(-150px) translateY(-20px);
  }
  to {
    transform: translateX(150px) translateY(20px);
  }
}
